@tailwind base;
@tailwind components;
@tailwind utilities;

/* making the body black */
@layer utilities {
  body {
    @apply bg-gray-900;
  }
}
/* layer for removing the up and down arrows from the input type of number */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
